<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suit1">
    <test name="figure action, data reading and filtering">
        <packages>
            <package name="test.task01_objects.action"/>
            <package name="test.task01_objects.factory"/>
            <package name="test.task01_objects.parser"/>
            <package name="test.task01_objects.validator"/>
            <package name="test.task01_objects.reader"/>
        </packages>
    </test>
</suite>

