<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name= "Suit1">
    <test name = "test1">
        <classes>
            <class name = "test.task01_objects_b.action.CalculatorTest"/>
            <class name = "test.task01_objects_b.action.ShapeExplorerTest"/>
            <class name = "test.task01_objects_b.factory.PointFactoryImplTest"/>
            <class name = "test.task01_objects_b.factory.QuadrangleFactoryImplTest"/>
            <class name = "test.task01_objects_b.parser.DataParserTest"/>
            <class name = "test.task01_objects_b.reader.FileDataReaderTest"/>
            <class name = "test.task01_objects_b.validator.DataFilterTest"/>
            <class name = "test.task01_objects_b.validator.QuadrangleValidatorTest"/>
        </classes>
    </test>
</suite>

