<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suit1">
    <test name="repository and specifications">
        <classes>
            <class name="test.task01_objects_b.repository.specification.FindQuadrangleSpecificationTest"/>
            <class name="test.task01_objects_b.repository.specification.SortQuadrangleSpecificationTest"/>
            <class name="test.task01_objects_b.repository.QuadrangleRepositorySingletonTest"/>
        </classes>
    </test>

    <test name="figure action, data reading and filtering">
        <packages>
            <package name="test.task01_objects_b.action"/>
            <package name="test.task01_objects_b.factory"/>
            <package name="test.task01_objects_b.parser"/>
            <package name="test.task01_objects_b.validator"/>
            <package name="test.task01_objects_b.reader"/>
        </packages>
    </test>
</suite>
