@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: transparent;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {

}

nav text {
    color: white;
    font-size: 20px;
    position: absolute;
}


nav {
    float: right;
}

nav ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    background: transparent;
    color: rgb(248, 214, 141);
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 18px;
}

nav a:hover {
    color: rgba(245, 42, 32, 0.87);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(207, 90, 50);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.auth {
    font-family: "Arial";
}

.dropdown {
    display: inline-block;
    position: center;
}

.dropdown div {
    border-radius: 5px;
    background: rgba(50, 73, 92, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transition: .3s;
}

.dropdown:hover div {
    visibility: visible;
    opacity: 1;
}

.dropdown div a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: rgb(248, 214, 141);
    transition: .1s;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
}

.dropdown div a:hover {
    background-color: transparent;
    color: rgb(207, 90, 50);
}

.dropdown div a:before {
    display: none;
}

.dropdown div form button {
    width: 70px;
    border: none;
    background: transparent;
    display: block;
    padding: 8px;
    margin-top: 5px;
    color: rgb(248, 214, 141);
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

.dropdown div form button:hover {
    background-color: transparent;
    color: rgb(207, 90, 50);
    outline: none;
}

.dropdown div form input{
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    color: rgb(248, 214, 141);
    font-size: 17px;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
}

.dropdown div form input:hover{
    background-color: transparent;
    color: rgb(207, 90, 50);
    outline: none;
}